// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/dist/bootstrap-vue.css";

// Plugins
// @import "~sweetalert2/src/sweetalert2";
// @import "~noty/src/noty";
// @import "~noty/src/themes/bootstrap-v4";

/* Space out content a bit */

* {
  font-family: "Andale Mono";
  font-size: 12px;
}

a {
  color: black;
}

.nav-item {
  color: black;
  background: white;
  width: 100%;  
}
.nav-link {
  padding: 0.25rem 0.8rem;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}